.create-forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.create-forms input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.cords-buttons {
    display: flex;
    flex-direction: row;
}

.back-button {
    margin-left: 15px;
}